{%extends "master.html"%}


{%block title%}All Passwords{%endblock%}

{%block content%}

        
        <form action="" method="post">
            {% csrf_token %}
            
            <!-- <label for="repo">Repository Name</label>
            <input type="text" name="repo" id="repo">
        
            <label for="token">Token</label>
            <input type="text" name="token" id="token">
        
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="path">File Name (Make sure your Repo have 'passwords.txt' file)</label>
            <input type="text" name="path" id="path"> -->

            <label for="repo_password">Master Password</label>
            <input type="password" name="repo_password" id="repo_password">

            <input type="submit" value="View Passwords">
            <a href="..">Return</a>
        </form>
{%endblock%}
