{%extends "master.html" %}

{%block title%} New Password {%endblock%}

{%block content%}

    <form action="" method="post">   
        {% csrf_token %}

            <label for="repo_password">Master Password</label>
            <input type="password" name="repo_password" id="repo_password">
            
            <!-- PASSWORD INFO -->
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname">
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            
            <!-- SUBMIT -->
            <input type="submit" value="Save Password">
            <a href="..">Return</a>

        </form>

{%endblock%}