{%extends "master.html"%}

{%block title%}All Passwords{%endblock%}

{%block head%}

<style>
    form {
        all: unset;
        background-color: none;
        padding:0px;
        border-radius: 0px;
        box-shadow: 0px;
        display: block;
        width: auto;
        margin-bottom: auto;
    }

    button{
        all: unset;
        cursor: pointer;
    }


</style>

{%endblock%}

{%block content%}

<h1>All Passwords</h1>
<div>
<center>
    <form action="/new/"><input type="submit" value="New Password"></form>
    <form action="/settings/"><input type="submit" value="Settings"></form>
</center>
</div>
<br>
        <table>   
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
    {% for l in content %} 
        <tr>
            <form action="update/{{forloop.counter0}}" method="post">
                {% csrf_token %}

                {% for element in l %} 
                
                <td><input type="text" name="{{forloop.counter0}}" value="{{element}}"></td> <!-- 0 for name 1 for username 2 for password-->
                
                {% endfor %}
                
                <td style="padding: 0px">
                        <button type="submit" name="action" value="Edit"><i class="fa-solid fa-floppy-disk" style="color: #3584e4;"></i></button>
                </td>
                <td style="padding: 0px">
                        <button type="submit" name="action" value="Delete"><i class="fa-solid fa-trash" style="color: #3584e4;"></i></button>
                </td>
            </form>
        </tr>
    
    {% endfor %}
    
</table>
<form method="post" action="upload/"enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="passwordfile" accept=".csv">
    <input type="submit" value="Upload CSV">
</form>
<a style="color: red;" href="deleteall/">Delete All Passwords</a>
<a href="..">Return</a>

{%endblock%}

