{%extends "master.html"%}

{%block title%}All Passwords{%endblock%}

{%block content%}

<h1>All Passwords</h1>
<hr>
<br>
<center>
    <pre>        
        <table>   
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
    {% for l in content %} 
        <tr>
        
            {% for element in l %} 
            <td>{{element}}</td>        
            {% endfor %}
        
        </tr>
    
    {% endfor %}
    
</table>
            <a href="..">Return</a>

</pre>
</center>
{%endblock%}
