{%extends "master.html"%}

{%block title%}All Passwords{%endblock%}

{%block head%}
    <!-- The special styles for this page are not needed anymore -->
    <!-- You can remove the style block from here -->
{%endblock%}

{%block content%}

<h1>All Passwords</h1>
<hr>
<br>
<!-- "New Password" & "Settings" buttons -->
<div id="passwords-actions">
    <form action="/new/"><input type="submit" value="New Password"></form>
    <form action="/settings/"><input type="submit" value="Settings"></form>
</div>

<!-- This div will get the card styling -->
<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th style="text-align: center;">Edit</th>
            <th style="text-align: center;">Delete</th>
        </tr>

        {% for l in content %}
        <tr>
            <!-- This form now uses display: contents via CSS -->
            <form action="update/{{forloop.counter0}}" method="post">
                {% csrf_token %}

                {% for element in l %}
                <td><input type="text" name="{{forloop.counter0}}" value="{{element}}"></td>
                {% endfor %}

                <td>
                    <button type="submit" name="action" value="Edit" title="Save Changes"><i class="fa-solid fa-floppy-disk"></i></button>
                </td>
                <td>
                    <button type="submit" name="action" value="Delete" title="Delete Entry"><i class="fa-solid fa-trash"></i></button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>

    <!-- The upload form is now styled as part of the table card -->
    <form id="passwords-upload" method="post" action="upload/" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="passwordfile" accept=".csv">
        <input type="submit" value="Upload CSV">
    </form>
</div>

<!-- Links at the very bottom -->
<div class="passwords-footer-links">
    <a class="link-danger" href="deleteall/">Delete All Passwords</a>
    <a href="/logout">Logout</a>
</div>

{%endblock%}