{% extends "master.html" %}
{%block title %}Git-Pass{%endblock%}

{%block content%}

<center>

    <h1>
        Settings
        
    </h1>
        <hr>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="{{username}}">

            <label for="token">Token</label>
            <input type="text" name="token" id="token" value="{{token}}">

            <label for="repo">Repository Name</label>
            <input type="text" name="repo" id="repo" value="{{repo}}">

            <label for="path">File Name (Make sure the file is present in the repo)</label>
            <input type="text" name="path" id="path" value="{{path}}">
            
            <label for="mas_password">Master Password</label>
            <input type="password" name="mas_password">

            <a href="reset-master/">Change Master Password</a>
            <input type="submit" name="action" value="Save">
            <a href="../">Return</a>
        </form>
        <div class="passwords-footer-links">
        <a class="link-danger" href="deleteall/">Delete All Passwords</a>
        <a href="/logout">Logout</a>
    </div>
    </center>


{%endblock%}
